SSH_HOST=
SSH_USER=ubuntu

API_ENDPOINT=
API_PORT=6443

K3S_ADVERTISE_ADDRESS=
K3S_NODE_IPS=
K3S_NODE_EXTERNAL_IPS=

K3S_VERSION=v1.37.0+k3s1
CILIUM_VERSION=1.20.1

GITHUB_OWNER=
GITHUB_REPO=
GITHUB_BRANCH=master
CLUSTER_PATH=clusters/sa-saopaulo-1

GIT_AUTHOR_NAME=
GIT_AUTHOR_EMAIL=

GITHUB_TOKEN=
SOPS_AGE_KEY_FILE=
